<div class="w-9/10 m-auto">
  <div class="swiper mySwiper2">
    <div class="swiper-wrapper">

      @for (cert of certificates(); track cert.id) {
      <div class="swiper-slide">
        <div class="certificate-card" (click)="openPopup(cert.image)">
          <img [src]="cert.image" [alt]="cert.title" />
          <div class="title text-purple-900">{{ cert.title }}</div>
        </div>
      </div>
      }
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination2 swiper-pagination"></div>
  </div>
</div>

<!-- Popup Modal -->
@if (isPopupOpen()) {
<div
  class="fixed inset-0 p-2 backdrop-blur-2xl bg-blend-color-dodge bg-opacity-75 flex items-center justify-center z-50"
  (click)="onBackdropClick()">
  <div class="flex items-center justify-center relative h-screen" (click)="onImageClick($event)">
    <button class="absolute top-2/7 md:top-10 right-5 text-4xl z-10 text-purple-800 font-bold" (click)="closePopup()">X</button>
    <img [src]="selectedImage()" [alt]="'Certificado ampliado'" class="sm:h-[90vh] w-auto max-w-full object-contain" />
  </div>

</div>
}
