/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "@midudev/tailwind-animations";


body{
  background-color: #f8f9fa;
  font-size: 20px;
}
@media(max-width: 1028px){
  body{
    font-size: 18px;
  }
}

@media(max-width: 500px){
  body{
    font-size: 16px;
  }
}

.swiper-pagination-bullet-active{
  background: var(--color-purple-600);
}
